Not all ts-refclk forms of ST 2110 can be described

Section 8.2 of ST 2110-10:2022 describes three forms of the a=ts-refclk attribute in the SDP, with these examples:

1. a=ts-refclk:ptp=IEEE1588-2008:39-A7-94-FF-FE-07-CB-D0:37
2. a=ts-refclk:ptp=IEEE1588-2008:traceable
3. a=ts-refclk:localmac=7C-E9-D3-1B-9A-AF

The first form can be used when the node is locked to the PTP GM and knows the clockIdentity and domain.  The second form can be used if the GMID is not known, but "the following conditions are all met":
• the PTP timescale is in use
• the current grandmaster timeTraceable field indicates traceable
• the current grandmaster clockAccuracy field indicates accuracy to within 250ns or better

This could be a device that is GNSS-locked and using the PTP timescale for its RTP timestamps, but not locked to a PTP grandmaster, for example.

However, the IS-04 node schema only allows two forms for the "clocks" array of objects, per this example:
    "clocks": [
        {
            "name": "clk0",
            "ref_type":"internal"
        },
        {
            "name": "clk1",
            "ref_type":"ptp",
            "traceable": true,
            "version": "IEEE1588-2008",
            "gmid": "08-00-11-ff-fe-21-e1-b0",
            "locked": true
        }
    ],

It seems that "ref_type": "internal" should be used when the SDP signals "localmac" (#3 above), and "ref_type": "ptp" is used with SDP format #1 above.  But what shall be used for #2 above, the "traceable" form?  The node doesn't know of any GM ID, and the "gmid" parameter is required in the IS-04 schema so it can't be excluded.

Should the "traceable" SDP format be avoided?  Or should the NMOS object use the clockIdentity of the node, even if it is not an active PTP leader?

Perhaps the "gmid" and "locked" parameters should be optional?



I think the NMOS `"ref_type": "ptp"` clock type can be used with both forms of SDP `ptp` reference clock. Why wouldn't the Node know the PTP GM and domain?

In case it derives its timing-reference from multiple (for example GPS-locked) masters for example.

Are you describing a case where the clock is traceable but not derived from PTP? That seems different.

I'm thinking of the case where the clock is not directly derived from PTP, but it does use the PTP timescale and it is traceable, specifically a sender node locked to GNSS.  The wording of ST 2110-10 seems to imply that ts-refclk:ptp:traceable is appropriate because the three conditions are met, but that form of the SDP attribute has no equivalent in IS-04.

The preceding words from ST 2110-10 section 8.2 provide additional context for the three conditions you quoted:

> All stream descriptions shall have a ts-refclk attribute as specified in IETF RFC 7273 section 4. Devices which are referenced to IEEE Std 1588-2008 shall use the ts-refclk:ptp form, signaling either the grandmaster clockIdentity and domain number, or signaling that the PTP is traceable.
> Devices shall signal that the PTP is traceable...

I am not convinced that a device which doesn't implement the Precision Time _Protocol_ is included here? The conditions all refer to information the node receives about the PTP GM.

RFC 7273 identifies several other forms of traceable `ts-refclk` including `gps` and `glonass` for example.

If your node is itself acting as a PTP clock, then it should have its own clock identity, etc.?

In my case, the sender node does have PTP, but it can be a leader (grandmaster) and not just a follower like most nodes.  If the node is the active leader, we can use its clockIdentity.  If it is a *passive* leader (because another leader has better priority), the node is technically not locked to the GM but it is locked to GNSS or another traceable source.  It could use its own clockIdentity, but that isn't really the current "gmid" for the network.  It can't query parentDS.grandmasterIdentity from the PTP data set to get the actual current "gmid" because that data set value is not set by a PTP leader instance in the passive state, only for followers in the slave state.

I think we still have a similar conundrum if we use other clock sources from RFC 7273 in our SDP, because the IS-04 schema only allows for "ptp" with a known "gmid", or "internal".

The point of the IS-04 Node `clocks` is that they are referenced by IS-04 Sources, indicating those Sources are sync'd to that clock.
If the Sources are not sync'd to the Best Master Clock on the network, but are sync'd to this local PASSIVE clock, I expected the `gmid` would indicate its own clockIdentity, but also indicate that it's traceable. Does that make sense?

FWIW, I think adding a `traceable` property to the NMOS internal clock type would be sensible in a future IS-04 patch release, but based on all the background you've provided - thank you - I don't think using RFC 7273 other clock types is actually the right approach in your case.

Thanks, Gareth.  I think your suggestion agrees with one of the options I posed in the original post:

> Or should the NMOS object use the clockIdentity of the node, even if it is not an active PTP leader?

So technically that clockIdentity isn't a "gmid", but it serves a similar purpose in the `clocks` object.

We will also avoid the `a=ts-refclk:ptp:traceable` form within the SDP.  We will use `localmac` with `internal` for some situations, but mostly use the longer `ptp` statement including the clockIdentity as described.


> So technically that clockIdentity isn't a "gmid", but it serves a similar purpose in the `clocks` object.

True! The IS-04 schema describes `gmid` as "ID of the PTP reference used by this clock" which is interesting... maybe this property ought to have been called `master_clock_id`...

> We will also avoid the `a=ts-refclk:ptp:traceable` form within the SDP.

May I ask why? I can see pros and cons for interoperability...

Test 17 of the IS-05-02 test suite fails if the node uses `"ref_type": "internal"` but the SDP uses `ts-refclk:ptp` (including `traceable`).  And there is a schema violation if the clock object for `"ref_type": "ptp"` does not have a valid value for `"gmid"`.   We've come across one registry implementation that refuses to accept the registration request because of this.  The Easy-NMOS registry will accept the request, and only prints out a console warning for the missing `"gmid"`, but the other implementation was more strict.

So it seems as though the only two options for aligning the SDP with NMOS are `"internal"` with `localmac`, and `"ptp"` with a valid value for `"gmid"`.   Since we have to pick some _clockIdentity_ for the NMOS clock object, we might as well use it in the SDP too.   That leaves the `a=ts-refclk:ptp:traceable` form without any usage.

Does the traceable form in the SDP have a potential advantage... If you use the GMID form for a Sender with a traceable clock, a Receiver sync'd to a different traceable clock doesn't know they're both traceable. If you use the traceable form, it does. Maybe?

That was our original motivation for using `a:ts-refclk:ptp:traceable` in some situations, because it conveyed more information than just `a:ts-refclk:localmac`.  A receiver is more likely to be able to use GNSS-locked senders than multiple senders with free-running clocks.

But we don't want to have a different SDP implementation depending on whether or not NMOS is enabled, so that leaves us without any way to use the "traceable" form.

> But we don't want to have a different SDP implementation depending on whether or not NMOS is enabled, so that leaves us without any way to use the "traceable" form.

Why can't you use traceable in the SDP, and put both traceable as true and the "GMID" (clock identity) in the NMOS resource?

If we have to use a clock identity for NMOS, we think that should be included in the SDP also.  The `ts-refclk:ptp` form that includes the clock identity and domain number is more useful than just signaling `traceable` in the SDP.