Registration API mdns service name too long

RegistrationAPI.raml specifies an mDNS service type of "_nmos-registration".

According to RFC6763 Section 7.2, the maximum service name length for an mDNS advertisement is 16 characters when including the leading underscore, but "_nmos_registration" is 18 characters.

Thanks for the report. We've been aware of this for a good while, but as changing it would be a breaking modification we've opted not to do so as yet. A shorter name could replace the current one as of a v2.0, or if there was a requirement to do so a shorter name could be introduced as a secondary advertisement alongside the existing one with a minor release.

ok, understood. 

My team lost a day of development time tracking this down. In the interim, would it be possible to add a note to the docs?

Absolutely. As usual a pull request would be appreciated, but I am in the process of tackling a number of documentation issues so if nothing arrives in the interim I'll deal with it as part of that.

Created PR #39 

Docs on this are now merged in and will be backported to other minor release versions as appropriate. I'll leave this issue open though as the problem still needs to be resolved.

Another data point:

Apple's mDNSResponder supports over-long service types _but only for the "local" domain_, i.e. not for unicast DNS-SD.

See [mDNSResponder-878.30.4/mDNSShared/uds_daemon.c](https://opensource.apple.com/source/mDNSResponder/mDNSResponder-878.30.4/mDNSShared/uds_daemon.c.auto.html) line 2568.


Should be resolved by https://github.com/AMWA-TV/nmos-discovery-registration/pull/71 and https://github.com/AMWA-TV/nmos-discovery-registration/pull/77 once v1.3 is released.